@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            <ErrorBoundary @ref="@errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="Exception">
                    <p class="errorUI">Exception Occured: @Exception.Message</p>
                </ErrorContent>
            </ErrorBoundary>  
        </div>
    </div>
</div>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet() {
        errorBoundary?.Recover();
    }
}
