@page "/outcome"
@using Task13.Components

<h1>Outcome</h1>



<p>
    <input type="date" />
    <input type="date" />
    <button type="button" class="btn">Search</button>
</p>
<p>
    <label>Total Income: XXX</label>
</p>
<p>
    <label>Total Expenses: YYY</label>
</p>



<OperationsComponent/>

@code {

}
