@using Core.ComponentsModels
@using Core.Models
@using Services.Interfaces
@inject IOperationTypesService OperationTypesService


@if (CreateDialogOpen) {
    <DialogComponent Title="Create Operation Type" OnClose="@OnCreateDialogClose">
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" id="type">
                    <option value="Income">Income</option>
                    <option value="Expense">Expense</option>
                </select>
            </div>
        </form>
    </DialogComponent>
}

@if (DeleteDialogOpen) {
    <DialogComponent Title="Are you sure?"  OnClose="@OnDeleteDialogClose">
        Delete This
    </DialogComponent>
}



<table class="table">
    <thead>
        <tr>
            <th>Operation Type Name</th>
            <th>Income/Expense</th>
            <th>
                <button type="button" class="btn" @onclick="() => OpenCreateDialog()">Create</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operationType in operationTypes) {
            <tr>
                <td>@operationType.Name</td>
                @if (operationType.IsIncome) {
                    <td>Income</td>
                }
                else {
                    <td>Expense</td>
                }
                <td>
                    <button type="button" class="btn" @onclick="() => OpenDeleteDialog(operationType)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<OperationType> operationTypes = new List<OperationType>();
    private OperationType currentType;

    protected override async Task OnInitializedAsync() {
        var o = await OperationTypesService.GetAllAsync();
        operationTypes = o.ToList();
    }

    #region DeleteDialog

    public bool DeleteDialogOpen { get; set; }

    private void OpenDeleteDialog(OperationType operationType) {
        DeleteDialogOpen = true;
        currentType = operationType;
        StateHasChanged();
    }

    private async Task OnDeleteDialogClose(bool accepted) {
        DeleteDialogOpen = false;
        if (accepted) {
            await OperationTypesService.DeleteAsync(currentType.Id);
        }
        else {
            currentType = null;
        }
        StateHasChanged();
    }

    #endregion

    #region CreateDialog

    public bool CreateDialogOpen { get; set; }

    private void OpenCreateDialog() {
        CreateDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnCreateDialogClose(bool accepted) {
        CreateDialogOpen = false;

        //TODO Create Logic

        var type = new OperationType {
            Id = new Guid(),
            IsIncome = true,
            Name = "BlazorCreatedType2"
        };

        await OperationTypesService.CreateAsync(type);
        StateHasChanged();
    }
    #endregion
}
