@using Core.Models
@using Services.Interfaces
@inject IOperationsService OperationsService

<table class="table">
    <thead>
        <tr>
            <th>Operation Name</th>
            <th>Operation Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>
                <button type="button" class="btn">Create</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in operations) {
            <tr>
                <td>@operation.Name</td>
                <td>@operation.OperationType.Name</td>
                <td>@operation.Amount</td>
                <td>@operation.Date.ToShortDateString()</td>
                <td>
                    <button type="button" class="btn">Edit</button>
                    <button type="button" class="btn">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Operation> operations = new List<Operation>();

    protected override async Task OnInitializedAsync() {
        var o = await OperationsService.GetAllAsync();
        operations = o.ToList();
    }
}
