@using Core.Structs 

<div>
    <input type="date" @bind-value="SelectedPeriod.StartDate" />
    <input type="date" @bind-value="SelectedPeriod.EndDate" />
    <button type="button" class="btn" @onclick="ExtractMonth">Previous</button>
    <button type="button" class="btn" @onclick="AddMonth">Next</button>
</div>

@code {
    [Parameter]
    public Period SelectedPeriod { get; set; }

    [Parameter]
    public EventCallback OnUpdateCallback { get; set; }

    protected override async Task OnInitializedAsync() {
        await OnUpdateCallback.InvokeAsync();
    }

    private async Task AddMonth() {
        SelectedPeriod.AddMonth();
        await OnUpdateCallback.InvokeAsync();
    }

    private async Task ExtractMonth() {
        SelectedPeriod.ExtractMonth();
        await OnUpdateCallback.InvokeAsync();
    }


}
